/*Programmer: Ulada Haranina*/

* {
	margin: 0%;
	border: 0;
	padding: 0;
	font-family: Montserrat, Georgia, sans-serif;
}
body{
	font-family: Montserrat, Georgia, sans-serif;
}
header {
	background-color: #373737;
	color: white;
	text-align: center;
	padding: 2% 0;
}

header h1 {
	font-size: 3em;
}

header h4 {
	font-size: 2em;
}

header h5 {
	font-size: 1.2em;
}

h2 {
	text-align: left;
	font-weight: 300;
	margin-bottom: 5%;
}

main {
	width: 90%;
	margin: auto;
}

.form-holders {
	background-color: #373737;
	width: 80%;
	margin: 2% auto;
	border-radius: 5px;
	padding: 4% 0 4% 6%;
	color: white;
}

label {
	line-height: 3;
}

.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.wrap {
	display: block;
	margin-right: 10%;
}

.column input {
	display: block;
	border-radius: 2px;
	width: 300px;
	height: 40px;
	padding-left: 20px;
	font-size: 1em;
}

.wrap span {
	color: red;
}

.wrap p {
	line-height: 2;
	font-size: 1.1em;
}

.wrap button {
	width: 150px;
	padding: 5% 0 4%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	cursor: pointer;
	font-size: 1em;
}

.wrap button:hover {
	width: 150px;
	padding: 5% 0 4%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	filter: drop-shadow(1px 1px 4px rgb(173, 173, 173));
}

.wrap i {
	font-size: 1.8em;
	padding-left: 6%;
	display: inline;
	color: #373737;
}

#summary {
	min-width: 89%;
	min-height: 80px;
	border-radius: 2px;
    padding: 2% 0 2% 2%;
}
.experiense{
    width: 310px;
    min-height: 5vh;
    padding: 2% 0 2% 5%;

}
.referense{
    width: 310px;
    min-height: 5vh;
    padding: 2% 0 2% 5%;
}
.column input:focus,
.experiense:focus,
.referense:focus,
#summary:focus{
    outline:none;
    filter: drop-shadow(1px 1px 4px rgb(141, 141, 141));

}

#form-holders {
	background-color: #373737;
	margin: 2% 0;
	border-radius: 5px;
	padding: 2%;
	color: white;
}

#skills {
	background-color: #373737;
	margin: 2% 0;
	border-radius: 5px;
	padding: 2%;
	color: white;
}

#submit {
	width: 190px;
	height: 80px;
	border-radius: 5px;
	display: block;
	font-weight: 600;
	cursor: pointer;
	font-size: 1em;
	color: white;
	margin: 5% auto;
	background-color: #373737;
}

#submit:hover {
	filter: drop-shadow(1px 1px 3px rgb(70, 70, 70));
}

/*Generated page*/



.resume-body{
	width: 900px;
	margin:5% auto;
	border: 2px solid #373737;

}

/*Name and role part*/
.name-holder{
	background-color: #373737;
	color:white;
}

.name-holder h2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	margin:0;
	padding: 4% 0 0 4%;
}

.name-holder h4{

	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	margin:0;
	padding: 0 0 2% 4%;
}

.container-for-sections{

	display: grid;
	grid-template-columns: 40% 60%;
	margin: 2% auto;
	padding-bottom: 2%;
}


.container-for-sections h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	text-align: left;	
}

.personal,
.educationAndSkills{

	padding-left: 10%;
	padding-right: 10%;
}

.container-for-sections i{
	color:#373737;
	font-size:16px;
	padding-right: 10px;
}

.summaryRes{
	font-size:14px;
	padding-left: 10%;
	border-left: #373737 2px solid;
}

.summaryRes p{
	margin-top: 4%;
	width:90%;
	text-align: justify;
	padding-bottom: 10%;
}


ul{
	list-style-type: none;
	font-weight: normal;
	font-size:14px;
	line-height: 1.8;
	padding-right: 10%
}


/*Other sections*/

.educationAndSkills{
	padding-right: 10%;
	border-right:  #373737 2px solid;
}

.educationAndSkills h3{
	border-top: #373737 2px solid;
	padding-top: 10%;
}


.educationAndSkills li{
	font-size: 14px;
}
.educationAndSkills h4{
	font-weight: 800;
	margin-top:5%;
	font-size: 16px;
	color:#373737;
}

.skills {
	margin-top: 10%;
}

.skills li{
	font-size:16px;
}
.experience{
	padding-left: 10%;
	padding-right: 15%;
}

.experience h3 {
	border-top: #000000 2px solid;
    padding-right: 25%;
    padding-top: 10%;
}

.experience h4{
	font-weight: 800;
	margin-top:5%;
	font-size: 18px;
	color:#373737;
}


.experience li{
	font-weight: 800;
}
.experience p{
	text-align: justify;
	padding: 2% 5% 5% 0;

}